matplotlib==3.10.0
pandas==2.2.3
scikit_learn==1.6.0
streamlit==1.41.1
tensorflow
tensorflow-hub
wordcloud
matplotlib
seaborn
gensim
transformers
tensorflow
tensorflow-hub
wordcloud
matplotlib
seaborn
